# Handle optional dependencies better
node-linker=hoisted
public-hoist-pattern[]=*rollup*
legacy-peer-deps=true

# Skip optional dependencies 
omit=optional

# Improve installation performance
prefer-offline=true

shamefully-hoist=true
strict-peer-dependencies=false 