# Skip optional dependencies
omit=optional

# Dependency settings
node-linker=hoisted
public-hoist-pattern[]=*rollup*
legacy-peer-deps=true
shamefully-hoist=true
strict-peer-dependencies=false

# Skip rollup native modules
ROLLUP_SKIP_NATIVES=true

# Improve installation performance
prefer-offline=true 